#post {
    width: 500px;
    
    .store-form {
        width: 100%;
        max-height: 30px;
        border: none;
        border-radius: 10px;
        outline: none;
        padding: 20px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .dish-form {
        width: 100%;
        max-height: 30px;
        border: none;
        border-radius: 10px;
        outline: none;
        padding: 20px;
        margin-bottom: 20px;
    }

    #restaurant-img {
        border-radius: 10px;
        margin-left: 30px;
        width: 200px;
        height: 200px;
        background-color: #ddd;
    }


    .body-form {
        width: 100%;
        min-height: 100px;
        border: none;
        border-radius: 10px;
        outline: none;
        padding: 20px;
        margin-top: 20px;
    }
    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
        .cancel-btn {
            padding: 12px;
            font-size: 1.4rem;
            color: #808000;
            background-color: #FFFFE0;
            border-radius: 10px;
            border: none;
            margin-right: 20px
        }
        .post-btn {
            @extend .cancel-btn;
        }
    }
}