header {
    padding: 30px 8% 30px;
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: #FFFFE0;

    p {
        font-size: 4rem;
    }
}